.titleCart {
    text-decoration: underline;
}

.DivCart {
    margin: auto;
    margin-top: 100px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    color: black;
}

.DivButtonsCart {
    margin: 20px;
}

.ButtonsCart {
    margin: 20px;
    padding: 5px;
    text-decoration: none;
    color: black;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    cursor: pointer;
}

.ButtonsCart:hover {
    transform: scale(1.1);
}

/* .body3 {
    background: black;
    color: #fff;
    font-weight: 400;
    font-size: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
}


.h12 {
    margin-top: 30px;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.divcenter {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.confirmar2 {
    margin-bottom: 150px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 20px;
    outline: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    text-decoration: none;
    background-color: black;
    color: white;
} */
