.a {
    height: 30px;
    width: 60px;
    margin-right: 50px;
}
.b {
    height: 30px;
    width: 60px;
    margin-right: -30px;
}

.CartImg {
    background-color: grey;
    width: 50px;
    height: 50px;
    margin-right: 30px;
}

.numero {
    background-color: grey;
    color: white;
    font-size: 30px;
    height: 100px;
    width: 100px;
}